<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boat.mapper.DelegationMapper">
    <resultMap id="BaseResultMap" type="com.boat.entity.Delegation">
        <!--@mbg.generated-->
        <!--@Table t_delegation-->
        <id column="id" property="id"/>
        <result column="company_name" property="companyName"/>
        <result column="code_of_organization" property="codeOfOrganization"/>
        <result column="company_nature" property="companyNature"/>
        <result column="contact_name" property="contactName"/>
        <result column="phone_number" property="phoneNumber"/>
        <result column="enable_state" property="enableState"/>
        <result column="agent_state" property="agentState"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, company_name, code_of_organization, company_nature, contact_name, phone_number,
        enable_state, agent_state, create_time, update_time
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from t_delegation
        where id = #{id}
    </select>
    <delete id="deleteByPrimaryKeys" parameterType="java.lang.Long">
        <!--@mbg.generated-->
        delete from t_delegation
        where id in
        <foreach collection="array" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.boat.entity.Delegation"
            useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into t_delegation
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="companyName != null">
                company_name,
            </if>
            <if test="codeOfOrganization != null">
                code_of_organization,
            </if>
            <if test="companyNature != null">
                company_nature,
            </if>
            <if test="contactName != null">
                contact_name,
            </if>
            <if test="phoneNumber != null">
                phone_number,
            </if>
            <if test="enableState != null">
                enable_state,
            </if>
            <if test="agentState != null">
                agent_state,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="companyName != null">
                #{companyName},
            </if>
            <if test="codeOfOrganization != null">
                #{codeOfOrganization},
            </if>
            <if test="companyNature != null">
                #{companyNature},
            </if>
            <if test="contactName != null">
                #{contactName},
            </if>
            <if test="phoneNumber != null">
                #{phoneNumber},
            </if>
            <if test="enableState != null">
                #{enableState},
            </if>
            <if test="agentState != null">
                #{agentState},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.boat.entity.Delegation">
        <!--@mbg.generated-->
        update t_delegation
        <set>
            <if test="companyName != null">
                company_name = #{companyName},
            </if>
            <if test="codeOfOrganization != null">
                code_of_organization = #{codeOfOrganization},
            </if>
            <if test="companyNature != null">
                company_nature = #{companyNature},
            </if>
            <if test="contactName != null">
                contact_name = #{contactName},
            </if>
            <if test="phoneNumber != null">
                phone_number = #{phoneNumber},
            </if>
            <if test="enableState != null">
                enable_state = #{enableState},
            </if>
            <if test="agentState != null">
                agent_state = #{agentState},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--auto generated by MybatisCodeHelper on 2022-11-16-->
    <select id="findByAllExceptCreateTimeAndUpdateTime" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_delegation
        <where>
            <if test="companyName != null and companyName != ''">
                and company_name like CONCAT('%',#{companyName},'%')
            </if>
            <if test="contactName != null and contactName != ''">
                and contact_name like CONCAT('%',#{contactName},'%')
            </if>
            <if test="enableState != null">
                and enable_state=#{enableState}
            </if>
            <if test="agentState != null">
                and agent_state=#{agentState}
            </if>
        </where>
    </select>
</mapper>