<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boat.mapper.NationalityMapper">
    <resultMap id="BaseResultMap" type="com.boat.entity.Nationality">
        <!--@mbg.generated-->
        <!--@Table t_nationality-->
        <id column="id" property="id"/>
        <result column="number_code" property="numberCode"/>
        <result column="letter_code" property="letterCode"/>
        <result column="country_name" property="countryName"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, number_code, letter_code, country_name
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from t_nationality
        where id = #{id}
    </select>
    <delete id="deleteByIds" parameterType="java.lang.Long">
        <!--@mbg.generated-->
        delete
        from t_nationality
        where id  in
        <foreach collection="array" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.boat.entity.Nationality"
            useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into t_nationality (number_code, letter_code, country_name)
        values (#{numberCode}, #{letterCode}, #{countryName})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.boat.entity.Nationality"
            useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into t_nationality
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="numberCode != null">
                number_code,
            </if>
            <if test="letterCode != null">
                letter_code,
            </if>
            <if test="countryName != null">
                country_name,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="numberCode != null">
                #{numberCode},
            </if>
            <if test="letterCode != null">
                #{letterCode},
            </if>
            <if test="countryName != null">
                #{countryName},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.boat.entity.Nationality">
        <!--@mbg.generated-->
        update t_nationality
        <set>
            <if test="numberCode != null">
                number_code = #{numberCode},
            </if>
            <if test="letterCode != null">
                letter_code = #{letterCode},
            </if>
            <if test="countryName != null">
                country_name = #{countryName},
            </if>
        </set>
        where id = #{id}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.boat.entity.Nationality">
        <!--@mbg.generated-->
        update t_nationality
        set number_code  = #{numberCode},
            letter_code  = #{letterCode},
            country_name = #{countryName}
        where id = #{id}
    </update>
    <!--auto generated by MybatisCodeHelper on 2022-09-22-->
    <select id="findByAllOrderByNumberCodeAndLetterCodeDesc" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_nationality
        <where>
            <if test="numberCode != null and numberCode != ''">
                and number_code like concat('%', #{numberCode}, '%')
            </if>
            <if test="letterCode != null and letterCode != ''">
                and letter_code like concat('%', #{letterCode}, '%')
            </if>
            <if test="countryName != null and countryName != ''">
                and country_name like concat('%', #{countryName}, '%')
            </if>
        </where>
        order by id
    </select>
<!--auto generated by MybatisCodeHelper on 2022-09-23-->
    <select id="findAll" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/>
        from t_nationality
    </select>
<!--auto generated by MybatisCodeHelper on 2022-09-28-->
    <select id="selectByLetterCode" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/>
        from t_nationality
        where letter_code=#{letterCode}
    </select>
<!--auto generated by MybatisCodeHelper on 2022-09-28-->
    <select id="selectAllByNumberCode" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/>
        from t_nationality
        where number_code=#{numberCode}
    </select>

    <select id="checkLetterCodeUnique" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/>
        from t_nationality
        where letter_code=#{letterCode} and id != #{id}
    </select>

    <select id="checkNumberCodeUnique" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/>
        from t_nationality
        where number_code=#{numberCode} and id != #{id}
    </select>


</mapper>