<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boat.mapper.SysDictItemMapper">
    <resultMap id="BaseResultMap" type="com.boat.entity.SysDictItem">
        <!--@mbg.generated-->
        <!--@Table sys_dict_item-->
        <id column="id" property="id"/>
        <result column="dict_id" property="dictId"/>
        <result column="type" property="type"/>
        <result column="item_text" property="itemText"/>
        <result column="item_value" property="itemValue"/>
        <result column="description" property="description"/>
        <result column="sort_order" property="sortOrder"/>
        <result column="status" property="status"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, dict_id,type, item_text, item_value, description, sort_order, `status`, create_time,
        update_time
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from sys_dict_item
        where id = #{id}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        <!--@mbg.generated-->
        delete from sys_dict_item
        where id in
        <foreach collection="array" open="(" close=")" separator="," item="id">
            #{id}
        </foreach>
    </delete>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.boat.entity.SysDictItem"
            useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into sys_dict_item
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="dictId != null">
                dict_id,
            </if>
            <if test="itemText != null and itemText != ''">
                item_text,
            </if>
            <if test="itemValue != null">
                item_value,
            </if>
            <if test="description != null and description != ''">
                description,
            </if>
            <if test="sortOrder != null">
                sort_order,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="type != null and type != ''">
                type
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="dictId != null">
                #{dictId},
            </if>
            <if test="itemText != null and itemText != ''">
                #{itemText},
            </if>
            <if test="itemValue != null">
                #{itemValue},
            </if>
            <if test="description != null and description != ''">
                #{description},
            </if>
            <if test="sortOrder != null">
                #{sortOrder},
            </if>
            <if test="status != null">
                #{status},
            </if>
            <if test="type != null and type != ''">
                #{type}
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.boat.entity.SysDictItem">
        <!--@mbg.generated-->
        update sys_dict_item
        <set>
            <if test="dictId != null">
                dict_id = #{dictId},
            </if>
            <if test="itemText != null and itemText != ''">
                item_text = #{itemText},
            </if>
            <if test="itemValue != null">
                item_value = #{itemValue},
            </if>
            <if test="description != null and description != ''">
                description = #{description},
            </if>
            <if test="sortOrder != null">
                sort_order = #{sortOrder},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="type != null and type != ''">
                type = #{type},
            </if>
        </set>
        where id = #{id}
    </update>


    <select id="selectPart" resultMap="com.boat.mapper.SysDictMapper.BaseResultMap">
        select id, dict_name, type
        from sys_dict
    </select>
    <update id="updateType">
        update sys_dict_item
        <set>
            <if test="type != null and type != ''">
                type = #{type},
            </if>
        </set>
        where dict_id= #{dictId}
    </update>

    <!--auto generated by MybatisCodeHelper on 2022-11-12-->
    <select id="selectAllByAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_dict_item
        <where>
            <if test="type != null and type != ''">
                and type=#{type}
            </if>
            <if test="itemText != null and itemText != ''">
                and item_text like concat('%',#{itemText},'%')
            </if>
            <if test="status != null">
                and status=#{status}
            </if>
        </where>
        order by sort_order
    </select>

    <select id="selectAllInVuex" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_dict_item
        where type = 'sys_arrival_destination'
        and status = 0
    </select>
</mapper>