<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boat.mapper.DockMapper">
    <resultMap id="BaseResultMap" type="com.boat.entity.Dock">
        <!--@mbg.generated-->
        <!--@Table t_dock-->
        <id column="dock_id" property="dockId"/>
        <result column="dock_name" property="dockName"/>
        <result column="dock_code" property="dockCode"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        dock_id, dock_name, dock_code
    </sql>
    <insert id="insert" keyColumn="dock_id" keyProperty="dockId" parameterType="com.boat.entity.Dock" useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into t_dock (dock_name, dock_code)
        values (#{dockName}, #{dockCode})
    </insert>


    <select id="selectDockAndPort" resultType="java.util.Map" >
        select td.*,tp.id,tp.port_code,tp.port_name,tp.port_draft
        from t_dock td
                     left outer join t_port tp on td.dock_id =
                                                  tp.dock_id
        <where>
            <if test="dockCode != null and dockCode != ''">
                and td.dock_code like concat('%', #{dockCode}, '%')
            </if>
            <if test="dockName != null and dockName != ''">
                and td.dock_name like concat('%', #{dockName}, '%')
            </if>
        </where>
        ORDER BY td.dock_name, tp.port_name
    </select>

    <select id="selectAllById" resultType="java.util.Map">
        select td.*,tp.id,tp.port_code,tp.port_name,tp.port_draft
        from t_dock td
                     left outer join t_port tp on td.dock_id =
                                                  tp.dock_id
        where tp.id = #{id}
    </select>

<!--auto generated by MybatisCodeHelper on 2022-10-17-->
    <select id="selectDockCodeByDockCode" resultMap="BaseResultMap">
        select *
        from t_dock
        where dock_code=#{dockCode}
    </select>
<!--auto generated by MybatisCodeHelper on 2022-10-18-->
    <update id="updateByDockId">
        update t_dock
        <set>
            <if test="dockName != null">
                dock_name = #{dockName},
            </if>
            <if test="dockCode != null">
                dock_code = #{dockCode},
            </if>
        </set>
        where dock_id=#{dockId}
    </update>

</mapper>